@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh-VF.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "YekanBakh";
}

a {
  color: inherit;
  text-decoration: none;
}
