@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh-VF.ttf");
  font-display: swap;
}
@font-face {
  font-family: "YekanBakhFaNum";
  src: url("/fonts/YekanBakh-FaNum.woff");
  font-display: swap;
}

:root {
  --swiper-pagination-bottom: -50px;
  --background-image-lazy: url("/images/dust.png");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: "YekanBakh";
  overflow-x: hidden;
}

.fui-FluentProvider {
  background-image: var(--background-image-lazy);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: initial;
}

@media (min-width: 768px) {
  background-size: contain;
}
@media (max-width: 767px) {
  .swiper-slide {
    width: 85% !important;
  }
}

#__next {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow-y: visible !important;
}

input:-webkit-autofill {
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: white !important;
}
