@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/YekanBakh-VF.ttf");
}
@font-face {
  font-family: "YekanBakhFaNum";
  src: url("/fonts/YekanBakh-FaNum.woff");
}

:root {
  --swiper-pagination-bottom: -50px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: "YekanBakh";
  overflow-x: hidden;
}

.fui-FluentProvider {
  background-image: url("../public/images/dust.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: initial;
}

@media (min-width: 768px) {
  background-size: contain;
}

#__next {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow-y: visible !important;
}

.swiper-slide {
  width: 85% !important;
}